*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
  }
  
  header{
     
      background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.1)), url('coding.jpg');
      background-repeat: no-repeat ;
      background-size: cover;
  }
  
  /* ::selection{ */
    /* color: #000; */
    /* background: #fff; */
  
    nav{
        position:fixed;
        background: rgba(0,0,0,0.2);
        width: 100%;
        padding: 10px 0;
        z-index: 12;
       
      }
      nav .menu{
        max-width: 100%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
      }
      .menu .logo a{
        text-decoration: none;
        color: #fff;
      }
      .menu ul{
        display: inline-flex;
      }
      .menu ul li{
        list-style: none;
        margin-left: 7px;
      }
      .menu ul li:first-child{
        margin-left: 0px;
      }
      .menu ul li a{
        text-decoration: none;
        color: #fff;
        font-size: 18px;
        font-weight: 500;
        padding: 8px 15px;
        border-radius: 5px;
        transition: all 0.3s ease;
        margin-left: auto;
      }
      .menu ul li a:hover{
        background: #fff;
        color: black;
      }
      .img{
        background: url('background.png')no-repeat;
        width: 100%;
        height: 100vh;
        background-size: cover;
        background-position: center;
        position: relative;
      }
      .img::before{
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        background: rgba(0, 0, 0, 0.4);
      }
      .center{
        position: absolute;
        top: 52%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        padding: 0 20px;
        text-align: center;
      }
      .center .title{
        color: #fff;
        font-size: 55px;
        font-weight: 600;
        text-shadow: 1px 1px 2px white;
      }
      .center .sub_title{
        margin: 30px 0 20px 0;
        color: #fff;
        font-size: 22px;
        font-weight: 600;
      }
      .center .btns{
        margin-top: 30px;
      }
      .center .btns button{
        height: 50px;
        width: 288px;
        border-radius: 5px;
        border: none;
        margin: 10px 10px;
        text-transform: uppercase;
        border: 2px solid white;
        font-size: 17px;
        font-weight: 500;
        padding: 10px 10px;
        cursor: pointer;
        outline: none;
        transition: all 0.3s ease;
      }
      .center .btns button:first-child{
        color: #fff;
        background: none;
      }
      .btns button:first-child:hover{
        background: white;
        color: black;
      }
      .center .btns button:last-child{
        background: white;
        color: black;
      }
      .center .btns button:last-child:hover{
        background:none;
        color: white;
      }

      @media screen and (max-width: 480px){
        .menu ul li a{
        font-size: 14px;
        font-weight: 500;
        padding: 5px 10px;
        border-radius: 3px;
        }
        .center .btns button{
            width: 40%;
            font-size: 14px;
        }
      }